section.new-tweet {
    background-color: #eee;
    border-radius: 10px;
    border: 1px solid #0c0b0b;
    padding: 1em;
}

.new-tweet h2 {
  margin-top: 0;
  text-align: left;
  border-bottom: solid black 2px;
}

.new-tweet textarea {
  width: -webkit-fill-available;
  padding: 0.6em;
}

.new-tweet form span {
  float: right;
}